flows/Create_Internal_Job_records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Job_records_details</name>
        <label>Job records details</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>Job_set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Offduty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Training</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Nonbillable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>creating_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Billable_record</name>
        <label>Non-Billable record</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Nonbillable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Created_via_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non- Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1i02000000QQciAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nonbillable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_records_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>offduty_record</name>
        <label>offduty record</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Offduty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Created_via_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Off Duty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1i02000000QQcdAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Offduty.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Training_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Training_Record</name>
        <label>Training Record</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Training.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Created_via_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Job_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Job_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1i02000000QQcnAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Training.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Billable_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Hydro_X_leave_for_today</name>
        <label>Check Hydro-X leave for today</label>
        <locationX>182</locationX>
        <locationY>1236</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_job_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creating_leave_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Leave_name</name>
        <dataType>String</dataType>
        <expression>&quot;Hydro-X Leave &quot;+ TEXT(MONTH(TODAY()))+&quot;/&quot; +TEXT(DAY(TODAY()))+&quot;/&quot; +TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>NonBillablename</name>
        <dataType>String</dataType>
        <expression>&quot;Non-Billable &quot;+ TEXT(MONTH(TODAY()))+&quot;/&quot; +TEXT(DAY(TODAY()))+&quot;/&quot; +TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Offduty_name</name>
        <dataType>String</dataType>
        <expression>&quot;Off Duty &quot;+ TEXT(MONTH(TODAY()))+&quot;/&quot; +TEXT(DAY(TODAY()))+&quot;/&quot; +TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Training_name</name>
        <dataType>String</dataType>
        <expression>&quot;Training &quot;+ TEXT(MONTH(TODAY()))+&quot;/&quot; +TEXT(DAY(TODAY()))+&quot;/&quot; +TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <interviewLabel>Create Internal Job records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Internal Job records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_leave_record</name>
        <label>Creating leave record</label>
        <locationX>50</locationX>
        <locationY>1356</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_via_automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Type__c</field>
            <value>
                <stringValue>Leave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <stringValue>a1i02000000QQcsAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>JobRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>creating_Records</name>
        <label>creating Records</label>
        <locationX>182</locationX>
        <locationY>996</locationY>
        <connector>
            <targetReference>Get_job_records</targetReference>
        </connector>
        <inputReference>Job_set</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Record</name>
        <label>get Account Record</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>offduty_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hydroexcavators, LLC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_job_records</name>
        <label>Get job records</label>
        <locationX>182</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Hydro_X_leave_for_today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Job_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_RecordType</name>
        <label>Get Job RecordType</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>JobRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_RecordType</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-06</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Job_set</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
    <variables>
        <name>JobRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nonbillable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
    <variables>
        <name>Offduty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
    <variables>
        <name>Training</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
</Flow>
