flows/Dispatch_Jobs_In_Bulk.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Notify_To_Salesforce_user_0_0_0</name>
        <label>Notify To Salesforce user</label>
        <locationX>7799</locationX>
        <locationY>2702</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_over_Get_Related_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification_type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>A new job is assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SalesforceuserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>Get_Each_Job.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Each_Job.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>5434</locationX>
        <locationY>1718</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>5698</locationX>
        <locationY>1718</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>5962</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>6226</locationX>
        <locationY>1598</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>6490</locationX>
        <locationY>1598</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes To Resource</label>
        <locationX>6754</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>5434</locationX>
        <locationY>1838</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>5698</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>6226</locationX>
        <locationY>1718</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>6490</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>7018</locationX>
        <locationY>1718</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>7282</locationX>
        <locationY>1598</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>7810</locationX>
        <locationY>1598</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Dispatcher Notes to Supervisor</label>
        <locationX>8074</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Operator_without_Dispatcher_Notes</name>
        <label>Send Email To Operator without Dispatcher Notes</label>
        <locationX>8514</locationX>
        <locationY>1238</locationY>
        <actionName>01p8Z000000YyvcNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_sms_to_operator_without_notes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Operator_without_Dispatcher_Notes_0</name>
        <label>Send Email To Operator without Dispatcher Notes</label>
        <locationX>8778</locationX>
        <locationY>1238</locationY>
        <actionName>01p8Z000000YyvcNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Salesforce_user_Ids</name>
        <label>Assign Salesforce user Ids</label>
        <locationX>7799</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>SalesforceuserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_To_Salesforce_user_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>changeBool_0</name>
        <label>changeBool</label>
        <locationX>5346</locationX>
        <locationY>3350</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Selected_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>testassignment</name>
        <label>testassignment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testingGet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Selected_Jobs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_salesforce_user_existing</name>
        <label>Check if salesforce user existing</label>
        <locationX>7931</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Get_Related_Job_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>does&apos;nt exist</defaultConnectorLabel>
        <rules>
            <name>Salesforce_user_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Salesforce_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salesforce_user_Ids</targetReference>
            </connector>
            <label>Salesforce user exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_there_any_job_Allocation</name>
        <label>Check is there any job Allocation?</label>
        <locationX>5522</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yessss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_job_Allocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Get_Related_Job_Allocations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_record_Type</name>
        <label>check record Type</label>
        <locationX>5346</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>Change_status_to_dispatched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Each_Job.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128Z000000YgJ1QAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>changeBool_0</targetReference>
            </connector>
            <label>Internal Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Email_and_Phone_Number_Exist</name>
        <label>Check Resource Email and Phone Number Exist?</label>
        <locationX>6952</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>SuperVisor_Present_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Email_And_Phone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuperVisor_Present</targetReference>
            </connector>
            <label>Email And Phone Present</label>
        </rules>
        <rules>
            <name>Email_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuperVisor_Present_0</targetReference>
            </connector>
            <label>Email present</label>
        </rules>
        <rules>
            <name>Phone_Number_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuperVisor_Present_0_0_0_0_0</targetReference>
            </connector>
            <label>Phone Number Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Email_and_Phone_Number_Exist_0</name>
        <label>Check Resource Email and Phone Number Exist?</label>
        <locationX>8910</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Get_notification_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Email_And_Phone_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Operator_without_Dispatcher_Notes</targetReference>
            </connector>
            <label>Email And Phone Present</label>
        </rules>
        <rules>
            <name>Email_present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Operator_without_Dispatcher_Notes_0</targetReference>
            </connector>
            <label>Email present</label>
        </rules>
        <rules>
            <name>Phone_Number_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_to_operator_without_notes_0</targetReference>
            </connector>
            <label>Phone Number Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispatcher_Notes_Exists</name>
        <label>Dispatcher Notes Exists?</label>
        <locationX>7931</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_Resource_Email_and_Phone_Number_Exist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Job__r.Dispatcher_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Resource_Email_and_Phone_Number_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_superVisor_Phone_Exits</name>
        <label>Is superVisor Phone Exits?</label>
        <locationX>5566</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_superVisor_Phone_Exits_0</name>
        <label>Is superVisor Phone Exits?</label>
        <locationX>6358</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesss_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_superVisor_Phone_Exits_0_0</name>
        <label>Is superVisor Phone Exits?</label>
        <locationX>7150</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesss_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_superVisor_Phone_Exits_0_0_0</name>
        <label>Is superVisor Phone Exits?</label>
        <locationX>7942</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesss_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuperVisor_Present</name>
        <label>SuperVisor Present?</label>
        <locationX>5764</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_superVisor_Phone_Exits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuperVisor_Present_0</name>
        <label>SuperVisor Present?</label>
        <locationX>6556</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_superVisor_Phone_Exits_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuperVisor_Present_0_0_0_0_0</name>
        <label>SuperVisor Present?</label>
        <locationX>7348</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_superVisor_Phone_Exits_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SuperVisor_Present_0_0_0_0_0_0</name>
        <label>SuperVisor Present?</label>
        <locationX>8140</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Get_notification_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_superVisor_Phone_Exits_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Dispatch Jobs In Bulk {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Dispatch Jobs In Bulk</label>
    <loops>
        <name>Loop_over_Get_Related_Job_Allocations</name>
        <label>Loop over Get Related Job Allocations</label>
        <locationX>5346</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Related_job_Allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dispatcher_Notes_Exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Retrieve_Selected_Jobs</name>
        <label>Retrieve_Selected_Jobs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Each_Job</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>5434</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>5698</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>5962</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>7018</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>7282</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to Operator with Notes</label>
        <locationX>7546</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_operator_without_notes</name>
        <label>Send sms to operator without notes</label>
        <locationX>8514</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0002</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_operator_without_notes_0</name>
        <label>Send sms to operator without notes</label>
        <locationX>9042</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_notification_type</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0002</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to supervisor</label>
        <locationX>5434</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to supervisor</label>
        <locationX>6226</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_To_Resource_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to supervisor</label>
        <locationX>7018</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Send_sms_to_Operator_with_Notes_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_sms_to_supervisor_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send sms to supervisor</label>
        <locationX>7810</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Send_Dispatcher_Notes_to_Supervisor_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Get_Related_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Each_Job</name>
        <label>Get Each Job</label>
        <locationX>5522</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_job_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieve_Selected_Jobs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_type</name>
        <label>Get notification type</label>
        <locationX>7931</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_salesforce_user_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_SalesforceUsers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_job_Allocations</name>
        <label>Get Related job Allocations</label>
        <locationX>5522</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_is_there_any_job_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Each_Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Artera_Job_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>testingGet</name>
        <label>testingGet</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>testassignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_status_to_dispatched</name>
        <label>Change status to dispatched</label>
        <locationX>5434</locationX>
        <locationY>3134</locationY>
        <connector>
            <targetReference>changeBool_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Each_Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>testingGet</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>User</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new job has been assigned to you - {!Retrieve_Selected_Jobs.Name}</text>
    </textTemplates>
    <variables>
        <name>id</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesforceuserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temprecords2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
</Flow>
