flows/Job_Create_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>dayweekaction</name>
        <label>dayweekaction</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>WeekDaysActionClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Area</name>
            <value>
                <elementReference>Region.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Contacts</name>
            <value>
                <elementReference>Contacts.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Customer_Job_Number</name>
            <value>
                <elementReference>Customer_Job_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysList</name>
            <value>
                <elementReference>Repeated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Location</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Projects</name>
            <value>
                <elementReference>Projects.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartTime</name>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strtDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>AM1</name>
        <choiceText>1:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM10</name>
        <choiceText>10:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1015</name>
        <choiceText>10:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1030</name>
        <choiceText>10:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1045</name>
        <choiceText>10:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM11</name>
        <choiceText>11:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1115</name>
        <choiceText>11:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1130</name>
        <choiceText>11:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1145</name>
        <choiceText>11:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am115</name>
        <choiceText>1:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM12</name>
        <choiceText>12:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1215</name>
        <choiceText>12.15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1230</name>
        <choiceText>12:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM1245</name>
        <choiceText>12:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM130</name>
        <choiceText>1:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM145</name>
        <choiceText>1:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM2</name>
        <choiceText>2:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM215</name>
        <choiceText>2:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM230</name>
        <choiceText>2:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM245</name>
        <choiceText>2:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM3</name>
        <choiceText>3:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM315</name>
        <choiceText>3:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM330</name>
        <choiceText>3:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM345</name>
        <choiceText>3:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM4</name>
        <choiceText>4:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM415</name>
        <choiceText>4:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM430</name>
        <choiceText>4:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>Am445</name>
        <choiceText>4:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM5</name>
        <choiceText>5:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM515</name>
        <choiceText>5:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM530</name>
        <choiceText>5:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM545</name>
        <choiceText>5:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM6</name>
        <choiceText>6:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM615</name>
        <choiceText>6:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM630</name>
        <choiceText>6:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM645</name>
        <choiceText>6:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM7</name>
        <choiceText>7:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM715</name>
        <choiceText>7:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM730</name>
        <choiceText>7:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM745</name>
        <choiceText>7:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM8</name>
        <choiceText>8:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM815</name>
        <choiceText>8:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM830</name>
        <choiceText>8:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM845</name>
        <choiceText>8:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM9</name>
        <choiceText>9:00 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM915</name>
        <choiceText>9:15 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM930</name>
        <choiceText>9:30 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>AM945</name>
        <choiceText>9:45 AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friday_WeekDay</name>
        <choiceText>Friday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Monday_WeekDay</name>
        <choiceText>Monday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monday</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1</name>
        <choiceText>1:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM10</name>
        <choiceText>10:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1015</name>
        <choiceText>10:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1030</name>
        <choiceText>10:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1045</name>
        <choiceText>10:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM11</name>
        <choiceText>11:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pm1115</name>
        <choiceText>11:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1130</name>
        <choiceText>11:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1145</name>
        <choiceText>11:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM115</name>
        <choiceText>1:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM12</name>
        <choiceText>12:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1215</name>
        <choiceText>12:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1230</name>
        <choiceText>12:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM1245</name>
        <choiceText>12:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM130</name>
        <choiceText>1:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM145</name>
        <choiceText>1:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM2</name>
        <choiceText>2:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM215</name>
        <choiceText>2:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM230</name>
        <choiceText>2:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM245</name>
        <choiceText>2:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM3</name>
        <choiceText>3:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM315</name>
        <choiceText>3:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM330</name>
        <choiceText>3:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM345</name>
        <choiceText>3:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM4</name>
        <choiceText>4:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM415</name>
        <choiceText>4:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM430</name>
        <choiceText>4:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM445</name>
        <choiceText>4:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM5</name>
        <choiceText>5:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM515</name>
        <choiceText>5:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM530</name>
        <choiceText>5:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM545</name>
        <choiceText>5:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM6</name>
        <choiceText>6:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM615</name>
        <choiceText>6:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM630</name>
        <choiceText>6:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM645</name>
        <choiceText>6:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM7</name>
        <choiceText>7:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM715</name>
        <choiceText>7:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM730</name>
        <choiceText>7:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM745</name>
        <choiceText>7:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM8</name>
        <choiceText>8:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM815</name>
        <choiceText>8:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM830</name>
        <choiceText>8:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM845</name>
        <choiceText>8:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM9</name>
        <choiceText>9:00 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM915</name>
        <choiceText>9:15 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:15</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM930</name>
        <choiceText>9:30 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pm945</name>
        <choiceText>9:45 PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21:45</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saturday_WeekDay</name>
        <choiceText>Saturday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saturday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sunday_WeekDay</name>
        <choiceText>Sunday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sunday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Thursday_WeekDay</name>
        <choiceText>Thursday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Thursday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuesday_WeekDay</name>
        <choiceText>Tuesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuesday</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wednesday_WeekDay</name>
        <choiceText>Wednesday</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wednesday</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Job Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Job Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>dayweekaction</targetReference>
        </connector>
        <fields>
            <name>Screen2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Project:&lt;/strong&gt;   {!Projects.recordName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact:&lt;/strong&gt;  {!Contacts.recordName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start Date:&lt;/strong&gt;  {!Start_Date}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date:&lt;/strong&gt;  {!End_Date}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Start Time: &lt;/strong&gt;{!Start_Time}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer Job No: &lt;/strong&gt;{!Customer_Job_Number}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Location:&lt;/strong&gt;  {!Location}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Area: &lt;/strong&gt;{!Region.recordName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description:  &lt;/strong&gt;{!Description}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Recurring Days:  &lt;/strong&gt;{!Repeated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>JobScreen</name>
        <label>JobScreen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <fields>
            <name>Projects</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Project__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Artera_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contacts</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Artera_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>JobScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>JobScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Time</name>
                    <choiceReferences>AM12</choiceReferences>
                    <choiceReferences>AM1215</choiceReferences>
                    <choiceReferences>AM1230</choiceReferences>
                    <choiceReferences>AM1245</choiceReferences>
                    <choiceReferences>AM1</choiceReferences>
                    <choiceReferences>Am115</choiceReferences>
                    <choiceReferences>AM130</choiceReferences>
                    <choiceReferences>AM145</choiceReferences>
                    <choiceReferences>AM2</choiceReferences>
                    <choiceReferences>AM215</choiceReferences>
                    <choiceReferences>AM230</choiceReferences>
                    <choiceReferences>AM245</choiceReferences>
                    <choiceReferences>AM3</choiceReferences>
                    <choiceReferences>AM315</choiceReferences>
                    <choiceReferences>AM330</choiceReferences>
                    <choiceReferences>AM345</choiceReferences>
                    <choiceReferences>AM4</choiceReferences>
                    <choiceReferences>AM415</choiceReferences>
                    <choiceReferences>AM430</choiceReferences>
                    <choiceReferences>Am445</choiceReferences>
                    <choiceReferences>AM5</choiceReferences>
                    <choiceReferences>AM515</choiceReferences>
                    <choiceReferences>AM530</choiceReferences>
                    <choiceReferences>AM545</choiceReferences>
                    <choiceReferences>AM6</choiceReferences>
                    <choiceReferences>AM615</choiceReferences>
                    <choiceReferences>AM630</choiceReferences>
                    <choiceReferences>AM645</choiceReferences>
                    <choiceReferences>AM7</choiceReferences>
                    <choiceReferences>AM715</choiceReferences>
                    <choiceReferences>AM730</choiceReferences>
                    <choiceReferences>AM745</choiceReferences>
                    <choiceReferences>AM8</choiceReferences>
                    <choiceReferences>AM815</choiceReferences>
                    <choiceReferences>AM830</choiceReferences>
                    <choiceReferences>AM845</choiceReferences>
                    <choiceReferences>AM9</choiceReferences>
                    <choiceReferences>AM915</choiceReferences>
                    <choiceReferences>AM930</choiceReferences>
                    <choiceReferences>AM945</choiceReferences>
                    <choiceReferences>AM10</choiceReferences>
                    <choiceReferences>AM1015</choiceReferences>
                    <choiceReferences>AM1030</choiceReferences>
                    <choiceReferences>AM1045</choiceReferences>
                    <choiceReferences>AM11</choiceReferences>
                    <choiceReferences>AM1115</choiceReferences>
                    <choiceReferences>AM1130</choiceReferences>
                    <choiceReferences>AM1145</choiceReferences>
                    <choiceReferences>PM12</choiceReferences>
                    <choiceReferences>PM1215</choiceReferences>
                    <choiceReferences>PM1230</choiceReferences>
                    <choiceReferences>PM1245</choiceReferences>
                    <choiceReferences>PM1</choiceReferences>
                    <choiceReferences>PM115</choiceReferences>
                    <choiceReferences>PM130</choiceReferences>
                    <choiceReferences>PM145</choiceReferences>
                    <choiceReferences>PM2</choiceReferences>
                    <choiceReferences>PM215</choiceReferences>
                    <choiceReferences>PM230</choiceReferences>
                    <choiceReferences>PM245</choiceReferences>
                    <choiceReferences>PM3</choiceReferences>
                    <choiceReferences>PM315</choiceReferences>
                    <choiceReferences>PM330</choiceReferences>
                    <choiceReferences>PM345</choiceReferences>
                    <choiceReferences>PM4</choiceReferences>
                    <choiceReferences>PM415</choiceReferences>
                    <choiceReferences>PM430</choiceReferences>
                    <choiceReferences>PM445</choiceReferences>
                    <choiceReferences>PM5</choiceReferences>
                    <choiceReferences>PM515</choiceReferences>
                    <choiceReferences>PM530</choiceReferences>
                    <choiceReferences>PM545</choiceReferences>
                    <choiceReferences>PM6</choiceReferences>
                    <choiceReferences>PM615</choiceReferences>
                    <choiceReferences>PM630</choiceReferences>
                    <choiceReferences>PM645</choiceReferences>
                    <choiceReferences>PM7</choiceReferences>
                    <choiceReferences>PM715</choiceReferences>
                    <choiceReferences>PM730</choiceReferences>
                    <choiceReferences>PM745</choiceReferences>
                    <choiceReferences>PM8</choiceReferences>
                    <choiceReferences>PM815</choiceReferences>
                    <choiceReferences>PM830</choiceReferences>
                    <choiceReferences>PM845</choiceReferences>
                    <choiceReferences>PM9</choiceReferences>
                    <choiceReferences>PM915</choiceReferences>
                    <choiceReferences>PM930</choiceReferences>
                    <choiceReferences>Pm945</choiceReferences>
                    <choiceReferences>PM10</choiceReferences>
                    <choiceReferences>PM1015</choiceReferences>
                    <choiceReferences>PM1030</choiceReferences>
                    <choiceReferences>PM1045</choiceReferences>
                    <choiceReferences>PM11</choiceReferences>
                    <choiceReferences>Pm1115</choiceReferences>
                    <choiceReferences>PM1130</choiceReferences>
                    <choiceReferences>PM1145</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>JobScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;End Date should be greater than Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date}&lt;={!End_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Job_Number</name>
            <dataType>String</dataType>
            <fieldText>Customer Job No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Region</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Artera_Region__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Artera_Job__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Repeated</name>
            <choiceReferences>Monday_WeekDay</choiceReferences>
            <choiceReferences>Tuesday_WeekDay</choiceReferences>
            <choiceReferences>Wednesday_WeekDay</choiceReferences>
            <choiceReferences>Thursday_WeekDay</choiceReferences>
            <choiceReferences>Friday_WeekDay</choiceReferences>
            <choiceReferences>Saturday_WeekDay</choiceReferences>
            <choiceReferences>Sunday_WeekDay</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Repeated Days</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucess</name>
        <label>Sucess</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dsad</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(25, 135, 84);&quot;&gt;﻿Jobs Created Successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JobScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
