flows/Select_unitItem_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>ProjectItem</name>
        <collectionReference>Get_Project_Item</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project_Item__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Select unitItem Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select unitItem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project_Item</name>
        <label>Get Project Item</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Unit_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Job__r.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Item__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_job_Ticket_details</name>
        <label>Update job Ticket details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Item__c</field>
            <value>
                <elementReference>Unit_Item</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Ticket_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Unit_Item</name>
        <label>Select Unit Item</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_job_Ticket_details</targetReference>
        </connector>
        <fields>
            <name>Unit_Item</name>
            <choiceReferences>ProjectItem</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RecordId.Unit_Item__r.Id</elementReference>
            </defaultValue>
            <fieldText>Unit Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Ticket_Detail__c</objectType>
    </variables>
</Flow>
