flows/Send_Email_To_Operators.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_To_Operator_0</name>
        <label>Send Email  To Operator without dispatcher notes</label>
        <locationX>3218</locationX>
        <locationY>1118</locationY>
        <actionName>01p8Z000000YyvcNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Operator_0_0</name>
        <label>Send Email  To Operator without dispatcher notes</label>
        <locationX>3482</locationX>
        <locationY>998</locationY>
        <actionName>01p8Z000000YyvcNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>138</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0_0_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>930</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>1194</locationX>
        <locationY>1238</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0_0_0</name>
        <label>Send Email to operator with dispatcher notes</label>
        <locationX>1458</locationX>
        <locationY>1118</locationY>
        <actionName>01p8Z000000YyvaNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJobAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>402</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>930</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>1194</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>1722</locationX>
        <locationY>1478</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>1986</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>2514</locationX>
        <locationY>1358</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0_0_0</name>
        <label>Send Email to supervisor with Dispatcher notes</label>
        <locationX>2778</locationX>
        <locationY>1238</locationY>
        <actionName>01p8Z000000YyveNotFound</actionName>
        <actionType xsi:nil="true"/>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ArtJObAlloc</name>
            <value>
                <elementReference>Loop_over_Job_Allocations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Records_to_Collection_Variable</name>
        <label>Assign Records to Collection Variable</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>StoreJobAllocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Job_Allocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_is_there_any_Job_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_is_there_any_Job_Allocations</name>
        <label>Check is there any Job Allocations ?</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreJobAllocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Job_Allocations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Change_Status_to_Dispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jobs.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128Z000000YgJ1QAK</stringValue>
                </rightValue>
            </conditions>
            <label>Internal Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Email_and_Phone_number_exists</name>
        <label>Check Resource Email and Phone number exists ?</label>
        <locationX>1656</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Resource_Supervisor_Exist_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_and_Phone_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Supervisor_Exist</targetReference>
            </connector>
            <label>Email and Phone present</label>
        </rules>
        <rules>
            <name>Email_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Supervisor_Exist_0</targetReference>
            </connector>
            <label>Email present</label>
        </rules>
        <rules>
            <name>Phone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resource_Supervisor_Exist_0_0</targetReference>
            </connector>
            <label>Phone Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Resource_Email_and_Phone_number_exists_0</name>
        <label>Check Resource Email and Phone number exists ?</label>
        <locationX>3614</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_and_Phone_present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Email and Phone present</label>
        </rules>
        <rules>
            <name>Email_present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Operator_0_0</targetReference>
            </connector>
            <label>Email present</label>
        </rules>
        <rules>
            <name>Phone_Present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Phone Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dispatcher_notes_exist</name>
        <label>Dispatcher notes exist ?</label>
        <locationX>2635</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_Resource_Email_and_Phone_number_exists_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Job__r.Dispatcher_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Resource_Email_and_Phone_number_exists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supervisor_Phone_exist</name>
        <label>Is Supervisor Phone exist ?</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>phone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0</targetReference>
            </connector>
            <label>phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supervisor_Phone_exist_0</name>
        <label>Is Supervisor Phone exist ?</label>
        <locationX>1062</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>phone_exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supervisor_Phone_exist_0_0</name>
        <label>Is Supervisor Phone exist ?</label>
        <locationX>1854</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>phone_exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Supervisor_Phone_exist_0_0_0</name>
        <label>Is Supervisor Phone exist ?</label>
        <locationX>2646</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>phone_exist_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>phone exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Supervisor_Exist</name>
        <label>Resource Supervisor Exist ?</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DO not exist</defaultConnectorLabel>
        <rules>
            <name>Supervisor_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Supervisor_Phone_exist</targetReference>
            </connector>
            <label>Supervisor exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Supervisor_Exist_0</name>
        <label>Resource Supervisor Exist ?</label>
        <locationX>1260</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DO not exist</defaultConnectorLabel>
        <rules>
            <name>Supervisor_exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Supervisor_Phone_exist_0</targetReference>
            </connector>
            <label>Supervisor exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Supervisor_Exist_0_0</name>
        <label>Resource Supervisor Exist ?</label>
        <locationX>2052</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DO not exist</defaultConnectorLabel>
        <rules>
            <name>Supervisor_exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Supervisor_Phone_exist_0_0</targetReference>
            </connector>
            <label>Supervisor exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resource_Supervisor_Exist_0_0_0</name>
        <label>Resource Supervisor Exist ?</label>
        <locationX>2844</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DO not exist</defaultConnectorLabel>
        <rules>
            <name>Supervisor_exist_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Supervisor_Phone_exist_0_0_0</targetReference>
            </connector>
            <label>Supervisor exist</label>
        </rules>
    </decisions>
    <interviewLabel>Send Email To Operators {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Email To Operators</label>
    <loops>
        <name>Loop_over_Job_Allocations</name>
        <label>Loop over Job Allocations</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>StoreJobAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Dispatcher_notes_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0</name>
        <label>Send SMS to Supervisor with notes</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Supervisor with notes</label>
        <locationX>930</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Send_Email_to_operator_with_dispatcher_notes_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Supervisor with notes</label>
        <locationX>1722</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>1722</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>1986</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Operator with notes</label>
        <locationX>2250</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0004</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to Supervisor with notes</label>
        <locationX>2514</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Send_Email_to_supervisor_with_Dispatcher_notes_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Supervisor__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0003</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to operator without notes</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Send_Email_To_Operator_0</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0002</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SMS_Bucket_record_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send SMS to operator without notes</label>
        <locationX>3746</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Loop_over_Job_Allocations</targetReference>
        </connector>
        <inputAssignments>
            <field>rsplus__Number__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Artera_Resource__r.Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Related_To__c</field>
            <value>
                <elementReference>Loop_over_Job_Allocations.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Sender_ID__c</field>
            <value>
                <stringValue>14707305812</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rsplus__Template_ID__c</field>
            <value>
                <stringValue>T0002</stringValue>
            </value>
        </inputAssignments>
        <object>rsplus__SMS_Bucket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Jobs</name>
        <label>Get Jobs</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Job_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Job_Allocation</name>
        <label>Related Job Allocation</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Records_to_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Artera_Job_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_to_Dispatch</name>
        <label>Change Status to Dispatch</label>
        <locationX>182</locationX>
        <locationY>2318</locationY>
        <connector>
            <targetReference>Finish_button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jobs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <screens>
        <name>Finish_button</name>
        <label>Finish button</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finish</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Operators have been notified with Email and SMS .&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Jobs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>User_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new job is assigned -&quot;{!recordId.Name}&quot;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Artera_Job__c</objectType>
    </variables>
    <variables>
        <name>StoreJobAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Artera_Job_Allocation__c</objectType>
    </variables>
    <variables>
        <name>VarSalesforceUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
