flows/Set_Operator_hours_for_job_ticket_details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_operator_Hours_Prior_Quantity_are_same</name>
        <label>Is operator Hours &amp; Prior Quantity are same</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operator_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Operator_hours_based_on_Unit_item_value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Operator_hours_based_on_Unit_item_value</name>
        <label>Set Operator hours based on Unit item value</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Set_Operator_hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Item_contain_Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Item__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operator_Hours_update</targetReference>
            </connector>
            <label>Unit Item contain Daily</label>
        </rules>
    </decisions>
    <formulas>
        <name>Dailyrate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity__c}*10</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Operator hours for job ticket details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Operator hours for job ticket details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Operator_Hours_update</name>
        <label>Operator Hours update</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Operator_Hours__c</field>
            <value>
                <elementReference>Dailyrate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Operator_hours</name>
        <label>Set Operator hours</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Operator_Hours__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_job_value</name>
        <label>Update job value</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Is_operator_Hours_Prior_Quantity_are_same</targetReference>
        </connector>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>$Record.Job_Ticket__r.Job1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_job_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Operator_Hours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Job_Ticket_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
