flows/update_project_and_work_order_when_account_is_selected.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Email_Is_change</name>
        <label>Check Email Is change?</label>
        <locationX>463</locationX>
        <locationY>730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact1_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contact1_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact1_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_the_Contact_Email_Field_is_change</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_the_Contact_Email_Field_is_change</name>
        <label>Check If the Contact Email Field is change?</label>
        <locationX>1018</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Update_Email_of_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact1_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Email_of_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update project and work order when account is selected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update project and work order when account is selected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_email</name>
        <label>get contact email</label>
        <locationX>705</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_job_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_workorder_record</name>
        <label>get workorder record</label>
        <locationX>705</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Email_of_contact</name>
        <label>Copy 1 of Update Email of contact</label>
        <locationX>889</locationX>
        <locationY>932</locationY>
        <inputAssignments>
            <field>Contact1_Email__c</field>
            <value>
                <elementReference>$Record.Contact1_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_of_contact</name>
        <label>Update Email of contact</label>
        <locationX>1306</locationX>
        <locationY>896</locationY>
        <inputAssignments>
            <field>Contact1_Email__c</field>
            <value>
                <elementReference>get_contact_email.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_record</name>
        <label>update job record</label>
        <locationX>705</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Check_Email_Is_change</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Project__r.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>get_workorder_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>579</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_workorder_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Artera_Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Accountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>WorkOrderrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order__c</objectType>
    </variables>
</Flow>
