flows/Update_Job_Assignment_status_to_completed_when_job_is_completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Job_Status</name>
        <label>Check Job Status</label>
        <locationX>570</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Job_Assignment</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Job_Assignment_0</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>When_the_previous_status_is_completed_or_cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Job_Assignment_0_0</targetReference>
            </connector>
            <label>When the previous status is completed or cancelled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Job Assignment status to &quot;completed&quot; when job is completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Job Assignment and job ticket status based on job status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Related_Job_Assignment</name>
        <label>Update Related Job Assignment</label>
        <locationX>995</locationX>
        <locationY>224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job_Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Job_Assignment_0</name>
        <label>Update Related Job Assignment</label>
        <locationX>224</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Update_Related_Job_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job_Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Job_Assignment_0_0</name>
        <label>Update Related Job Assignment</label>
        <locationX>972</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Update_Related_Job_Tickets_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job_Allocation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Job_Tickets</name>
        <label>Update Related Job Ticket</label>
        <locationX>51</locationX>
        <locationY>68</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Ticket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Job_Tickets_0</name>
        <label>Update Related Job Ticket</label>
        <locationX>368</locationX>
        <locationY>592</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Ticket__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Job_Status</targetReference>
        </connector>
        <object>Artera_Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
