flows/Update_Asset_based_on_resource_value.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Resource_Name</name>
        <label>Assign Resource Name</label>
        <locationX>967</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>Resource_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Job_Allocation.Artera_Resource__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bar_My</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Job_Allocation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Job_RecordType_ID</name>
        <label>Check Job RecordType ID</label>
        <locationX>329</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Artera_Resource__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Artera_Resource__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Status</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Internal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Admin Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Status_0</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Job_Type</name>
        <label>Check Job Type</label>
        <locationX>146</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Type_0</targetReference>
            </connector>
            <label>Training</label>
        </rules>
        <rules>
            <name>Non_Billable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non- Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Type_0_0</targetReference>
            </connector>
            <label>Non Billable</label>
        </rules>
        <rules>
            <name>Off_Duty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off Duty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Type_0_0_0</targetReference>
            </connector>
            <label>Off Duty</label>
        </rules>
        <rules>
            <name>Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.Job_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Assignment_Type_0_0_0_0</targetReference>
            </connector>
            <label>Leave</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SuperVisor</name>
        <label>Check SuperVisor</label>
        <locationX>1049</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Artera_Resource__r.Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_job_Supervisor</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bar_My</name>
        <dataType>String</dataType>
        <expression>&quot; &quot; + {!Bar} + &quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>Resource_Name_My</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Resource_Name},&quot;,&quot; ,&quot;&quot; )</expression>
    </formulas>
    <interviewLabel>Update Asset based on resource value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Asset based on resource value</label>
    <loops>
        <name>Related_Job_Allocation</name>
        <label>Related Job Allocation</label>
        <locationX>845</locationX>
        <locationY>640</locationY>
        <collectionReference>Get_Related_Job_Allocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resource_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Resource_Name_Field_on_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Records</name>
        <label>Get Job Records</label>
        <locationX>617</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Job_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Job_Allocation</name>
        <label>Get Related Job Allocation</label>
        <locationX>612</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Job_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Artera_Job_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_job_Assignment_Status</name>
        <label>update job Assignment Status</label>
        <locationX>490</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Update_job_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Job_Assignment_Date_Field__c</field>
            <value>
                <elementReference>$Record.Job__r.Job_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Assignment_Status_0</name>
        <label>update job Assignment Status</label>
        <locationX>156</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Update_job_Status_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Job_Assignment_Date_Field__c</field>
            <value>
                <elementReference>$Record.Job__r.Job_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Assignment_Type_0</name>
        <label>update job Assignment Type</label>
        <locationX>165</locationX>
        <locationY>626</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Assignment_Type_0_0</name>
        <label>update job Assignment Type</label>
        <locationX>267</locationX>
        <locationY>632</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Non- Billable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Assignment_Type_0_0_0</name>
        <label>update job Assignment Type</label>
        <locationX>417</locationX>
        <locationY>625</locationY>
        <inputAssignments>
            <field>Paycode__c</field>
            <value>
                <stringValue>OFF DUTY</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Assignment_Type_0_0_0_0</name>
        <label>update job Assignment Type</label>
        <locationX>67</locationX>
        <locationY>639</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Leave</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_job_Status</name>
        <label>Update job Status</label>
        <locationX>615</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Get_Job_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assignment in Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_job_Status_0</name>
        <label>Update job Status</label>
        <locationX>50</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Check_Job_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Admin Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_job_Supervisor</name>
        <label>update job Supervisor</label>
        <locationX>1055</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Supervisor__c</field>
            <value>
                <elementReference>$Record.Artera_Resource__r.Supervisor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resource_Name_Field_on_Job</name>
        <label>Update Resource Name Field on Job</label>
        <locationX>845</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Check_SuperVisor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resouces_Names__c</field>
            <value>
                <elementReference>Resource_Name_My</elementReference>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>708</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Job_RecordType_ID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Artera_Resource__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Artera_Job_Allocation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Bar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>|</stringValue>
        </value>
    </variables>
    <variables>
        <name>Resource_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
