flows/Update_Resource_s_Name_When_a_Related_Job_Assignment_is_Deleted.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_and_Assign_new_Resource_Fields_in_the_Job</name>
        <label>Update and Assign new Resource Fields in the Job</label>
        <locationX>623</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Resource_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Job_Allocations.Artera_Resource__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Resource_Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bar_My</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Job_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Job_RecordType_ID</name>
        <label>Check Job RecordType ID</label>
        <locationX>77</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Record</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bar_My</name>
        <dataType>String</dataType>
        <expression>&quot; &quot; + {!Bar} + &quot; &quot;</expression>
    </formulas>
    <formulas>
        <name>Ressource_Name_My</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!Resource_Name}, &quot;,&quot; , &quot;&quot; )</expression>
    </formulas>
    <interviewLabel>Update Resource&apos;s Name When a Related Job Assignment is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Resource&apos;s Name When a Related Job Assignment is Deleted</label>
    <loops>
        <name>Related_Job_Allocations</name>
        <label>Related Job Allocations</label>
        <locationX>459</locationX>
        <locationY>504</locationY>
        <collectionReference>Get_Related_Job_Allocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_and_Assign_new_Resource_Fields_in_the_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_New_Resource_Names_on_the_Job_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Record</name>
        <label>Get Job Record</label>
        <locationX>91</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Job_Allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Artera_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Job_Allocation</name>
        <label>Get Related Job Allocation</label>
        <locationX>272</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Job_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Artera_Job_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Resource_Names_on_the_Job_Field</name>
        <label>Update New Resource Names on the Job Field</label>
        <locationX>774</locationX>
        <locationY>299</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resouces_Names__c</field>
            <value>
                <elementReference>Ressource_Name_My</elementReference>
            </value>
        </inputAssignments>
        <object>Artera_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Job_RecordType_ID</targetReference>
        </connector>
        <object>Artera_Job_Allocation__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Bar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>|</stringValue>
        </value>
    </variables>
    <variables>
        <name>Resource_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
