flows/Versiv_Drawdown_Calculator_V2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>New_task</name>
        <label>New task</label>
        <locationX>354</locationX>
        <locationY>2861</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>TaskDuedate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>Tasksubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Bestvalue</name>
        <label>Bestvalue</label>
        <locationX>671</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Projectrecommendationtextvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BEST</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Analysis_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bettervalue</name>
        <label>Bettervalue</label>
        <locationX>1013</locationX>
        <locationY>2328</locationY>
        <assignmentItems>
            <assignToReference>Projectrecommendationtextvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BETTER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Analysis_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dicisionoutcome1</name>
        <label>Dicisionoutcome1</label>
        <locationX>395</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Projectrec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AlternativeConfigurationNeeded</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>stage3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dicisionoutcome2</name>
        <label>Dicisionoutcome2</label>
        <locationX>659</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Projectrec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thejobcanbecompletedwithincustomerdefinedparameterswiththeequipmentselected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>stage3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dicisionoutcome3</name>
        <label>Dicisionoutcome3</label>
        <locationX>131</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Projectrec</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The parameters entered are invalid, please try again with different input parameters.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>stage3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Goodtext</name>
        <label>Goodtext</label>
        <locationX>847</locationX>
        <locationY>2335</locationY>
        <assignmentItems>
            <assignToReference>Projectrecommendationtextvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GOOD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Analysis_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage1</name>
        <label>Stage1</label>
        <locationX>527</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ITO_Calculator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage2</name>
        <label>Stage2</label>
        <locationX>527</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Parameters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ITOcalculator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stage3</name>
        <label>stage3</label>
        <locationX>528</locationX>
        <locationY>2199</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Analysis_Results</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectRecommendation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlternativeConfigurationNeeded</name>
        <choiceText>Alternative Configuration Needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternative Configuration Needed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locationvalue1</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NPS_10_in</name>
        <choiceText>NPS 10 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10.25</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_12_in</name>
        <choiceText>NPS 12 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12.25</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_14_in</name>
        <choiceText>NPS 14 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_16_in</name>
        <choiceText>NPS 16 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_18_in</name>
        <choiceText>NPS 18 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_1_in</name>
        <choiceText>NPS 1 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0.8</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_20_in</name>
        <choiceText>NPS 20 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19.25</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_24_in</name>
        <choiceText>NPS 24 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23.25</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_26_in</name>
        <choiceText>NPS 26 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25.25</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_2_in</name>
        <choiceText>NPS 2 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.8</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_30_in</name>
        <choiceText>NPS 30 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>29</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_36_in</name>
        <choiceText>NPS 36 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>34.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_3_in</name>
        <choiceText>NPS 3 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.8</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_42_in</name>
        <choiceText>NPS 42 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>40.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_48_in</name>
        <choiceText>NPS 48 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>46.5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_4_in</name>
        <choiceText>NPS 4 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3.82</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_6_in</name>
        <choiceText>NPS 6 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6.12</stringValue>
        </value>
    </choices>
    <choices>
        <name>NPS_8_in</name>
        <choiceText>NPS 8 in</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8.187</stringValue>
        </value>
    </choices>
    <choices>
        <name>PicklistvalueNominal</name>
        <choiceText>30</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ProjectState2ndpicklistvalue</name>
        <choiceText>AK</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>QuadD</name>
        <choiceText>Quad-D (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quad-D (Gen III)</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuadM</name>
        <choiceText>Quad-M (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quad-M (Gen III)</stringValue>
        </value>
    </choices>
    <choices>
        <name>QuadT</name>
        <choiceText>Quad-T (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quad-T (Gen III)</stringValue>
        </value>
    </choices>
    <choices>
        <name>secondValueNominal</name>
        <choiceText>40</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>State3rdvalue</name>
        <choiceText>CT</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Thejobcanbecompletedwithincustomerdefinedparameterswiththeequipmentselected</name>
        <choiceText>The job can be completed within customer defined parameters with the equipment selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The job can be completed within customer defined parameters with the equipment selected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tw</name>
        <choiceText>Twin-D (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Twin-D (Gen III)</stringValue>
        </value>
    </choices>
    <choices>
        <name>TwinM</name>
        <choiceText>Twin-M (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Twin-M (Gen III)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Twint</name>
        <choiceText>Twin-T (Gen III)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Twin-T (Gen III)</stringValue>
        </value>
    </choices>
    <constants>
        <name>Default3</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Default4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>8 hours</stringValue>
        </value>
    </constants>
    <constants>
        <name>Default5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternative Configuration Needed</stringValue>
        </value>
    </constants>
    <constants>
        <name>DefaultA</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>140555.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>DefaultB</name>
        <dataType>String</dataType>
        <value>
            <stringValue>99.6%</stringValue>
        </value>
    </constants>
    <decisions>
        <name>contact_creatation_dicision</name>
        <label>contact creatation decision</label>
        <locationX>527</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Get_Equipment_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notcreatecontact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_contact.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_contact.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Equipment_ID</targetReference>
            </connector>
            <label>notcreatecontact</label>
        </rules>
        <rules>
            <name>createcontact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newcontact2_0_0_0</targetReference>
            </connector>
            <label>createcontact</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_update</name>
        <label>contact update?</label>
        <locationX>844</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>update_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>not update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cross_crompression_updated</name>
        <label>Cross crompression updated?</label>
        <locationX>987</locationX>
        <locationY>1657</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>createds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrossResultid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cross_Compression_Result_0</targetReference>
            </connector>
            <label>created</label>
        </rules>
        <rules>
            <name>Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CrossResultid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_cross_Crompration</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_created_or_update</name>
        <label>opp created or update?</label>
        <locationX>947</locationX>
        <locationY>1073</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOpportunity_0</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpp</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectRecommendation</name>
        <label>ProjectRecommendation</label>
        <locationX>806</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Application_Analysis_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Goodtext</targetReference>
            </connector>
            <label>Good</label>
        </rules>
        <rules>
            <name>Better</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bettervalue</targetReference>
            </connector>
            <label>Better</label>
        </rules>
        <rules>
            <name>Best</name>
            <conditionLogic>(1 AND 2 ) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Totalweighted</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bestvalue</targetReference>
            </connector>
            <label>Best</label>
        </rules>
    </decisions>
    <decisions>
        <name>projectrecommendations</name>
        <label>projectrecommendations</label>
        <locationX>852</locationX>
        <locationY>1842</locationY>
        <defaultConnector>
            <targetReference>stage3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>project_recommendations3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>totaldrawdownduration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>totaldrawdownduration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dicisionoutcome3</targetReference>
            </connector>
            <label>project recommendations3</label>
        </rules>
        <rules>
            <name>project_recommendations1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totaldrawdownduration</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Duration_Available_for_purge_numberfield</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dicisionoutcome1</targetReference>
            </connector>
            <label>project recommendations1</label>
        </rules>
        <rules>
            <name>project_recommendations2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totaldrawdownduration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Duration_Available_for_purge_numberfield</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dicisionoutcome2</targetReference>
            </connector>
            <label>project recommendations2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quickaction</name>
        <label>Quickaction</label>
        <locationX>571</locationX>
        <locationY>2722</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttom1.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_task</targetReference>
            </connector>
            <label>Create task</label>
        </rules>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>homebutton.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage1</targetReference>
            </connector>
            <label>Back</label>
        </rules>
        <rules>
            <name>opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttom1.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tt</targetReference>
            </connector>
            <label>opp</label>
        </rules>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>homebutton.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <label>Home</label>
        </rules>
    </decisions>
    <description>Most recent Calculator Version with updated Equipment-Opportunity linkage.</description>
    <dynamicChoiceSets>
        <name>Statevalue</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Currentdate+14days</description>
        <name>Bid_due_date_formula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <formulas>
        <name>Closedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>Equipment</name>
        <dataType>String</dataType>
        <expression>{!Equipment_Model}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>	
{!CrossCompression}&amp; &quot; &quot; &amp;{!Account.recordName}&amp; &quot; &quot; &amp;{!State} &amp;&quot; &quot;&amp;{!Equipment_Model}</expression>
    </formulas>
    <formulas>
        <name>PipespecificationName</name>
        <dataType>String</dataType>
        <expression>{!Nominal_Pipesize}</expression>
    </formulas>
    <formulas>
        <name>TaskDuedate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>Tasksubject</name>
        <dataType>String</dataType>
        <expression>{!Followup}  &amp;  {!Account.recordName}</expression>
    </formulas>
    <formulas>
        <name>totaldrawdownduration</name>
        <dataType>Number</dataType>
        <expression>{!Getopp_0.Total_Volume_of_Pipe_Cubic_Feet__c}*{!GetEquipmentinfo.Draw_Down_Time_for_1_scf_of_pipe__c}/60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Totalweighted</name>
        <dataType>Number</dataType>
        <expression>(({!The_value_of_CH4_conserved_or_CO2Ee.value}*0.28572+{!Community_Impact.value}*0.19048+{!Cost_0f_Execute.value}*0.04762+{!Environmental_Impact.value}*0.2381+{!Operational_Impact.value}*0.09524+{!Historical_Impact.value}*0.14286)*100)/3</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Versiv Drawdown Calculator V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Versiv Drawdown Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cross_Compression_Result_0</name>
        <label>Cross Compression Result</label>
        <locationX>527</locationX>
        <locationY>1742</locationY>
        <assignRecordIdToReference>CrossResultid</assignRecordIdToReference>
        <connector>
            <targetReference>projectrecommendations</targetReference>
        </connector>
        <inputAssignments>
            <field>Drawdown_Duration__c</field>
            <value>
                <elementReference>totaldrawdownduration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drowdown_info_Id__c</field>
            <value>
                <elementReference>GetEquipmentinfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Cross_Compression_Drawdown_Results__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Pipe_specification_0</name>
        <label>New Pipe specification</label>
        <locationX>365</locationX>
        <locationY>1351</locationY>
        <assignRecordIdToReference>Newpipid</assignRecordIdToReference>
        <connector>
            <targetReference>GetEquipmentinfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PipespecificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipe_Diameter_inches__c</field>
            <value>
                <elementReference>Nominal_Pipesize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipe_Length_feet__c</field>
            <value>
                <elementReference>Length_of_the_Line_to_be_Purged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purging_Method_Existing_Pipe__c</field>
            <value>
                <stringValue>Cross Compression</stringValue>
            </value>
        </inputAssignments>
        <object>Pipe_Specification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Newcontact2_0_0_0</name>
        <label>Newcontact2</label>
        <locationX>363</locationX>
        <locationY>887</locationY>
        <assignRecordIdToReference>NewContact</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Equipment_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>NewOpportunity_0</name>
        <label>NewOpportunity</label>
        <locationX>587</locationX>
        <locationY>1262</locationY>
        <assignRecordIdToReference>NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>New_Pipe_specification_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Due_Date__c</field>
            <value>
                <elementReference>Bid_due_date_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Lead_del_del_del_del__c</field>
            <value>
                <stringValue>Gina Rundo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Impact__c</field>
            <value>
                <elementReference>Community_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Time &amp; Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_to_Execute__c</field>
            <value>
                <elementReference>Cost_0f_Execute.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Available_to_be_Purged__c</field>
            <value>
                <elementReference>Duration_Available_for_purge_numberfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment_Impact__c</field>
            <value>
                <elementReference>Environmental_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment__c</field>
            <value>
                <elementReference>Get_Equipment_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Historical_Impact__c</field>
            <value>
                <elementReference>Historical_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpCo__c</field>
            <value>
                <stringValue>Versiv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operational_Impact__c</field>
            <value>
                <elementReference>Operational_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pressure_of_the_line_to_be_Pumped_into__c</field>
            <value>
                <elementReference>Pressure_of_line_to_be_Pumped_into_numberfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000Sq3wQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Budgetary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_value_of_CH4_conserved_or_CO2E__c</field>
            <value>
                <elementReference>The_value_of_CH4_conserved_or_CO2Ee.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vice_President__c</field>
            <value>
                <stringValue>Keith Ormsby</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>713</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contact_creatation_dicision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is to fetch equipment ID and populate in the opportunity</description>
        <name>Get_Equipment_ID</name>
        <label>Get Equipment ID</label>
        <locationX>819</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opp_created_or_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Equipment_Model</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEquipmentinfo</name>
        <label>GetEquipmentinfo</label>
        <locationX>722</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getopp_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Equipment_Model_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Equipment_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Starting_Pressure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pressure_of_line_to_be_Pumped_into_numberfield</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipment_Drawdown_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getopp_0</name>
        <label>Getopp</label>
        <locationX>758</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cross_crompression_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>1121</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>PhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_cross_Crompration</name>
        <label>update cross Crompration</label>
        <locationX>1237</locationX>
        <locationY>1749</locationY>
        <connector>
            <targetReference>projectrecommendations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CrossResultid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Drawdown_Duration__c</field>
            <value>
                <elementReference>totaldrawdownduration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drowdown_info_Id__c</field>
            <value>
                <elementReference>GetEquipmentinfo.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cross_Compression_Drawdown_Results__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>1129</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>updatepipeinfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Due_Date__c</field>
            <value>
                <elementReference>Bid_due_date_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_Lead_del_del_del_del__c</field>
            <value>
                <stringValue>Gina Rundo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_Impact__c</field>
            <value>
                <elementReference>Community_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Time &amp; Equipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_to_Execute__c</field>
            <value>
                <elementReference>Cost_0f_Execute.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_Available_to_be_Purged__c</field>
            <value>
                <elementReference>Duration_Available_for_purge_numberfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment_Impact__c</field>
            <value>
                <elementReference>Environmental_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment__c</field>
            <value>
                <elementReference>Get_Equipment_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Historical_Impact__c</field>
            <value>
                <elementReference>Historical_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpCo__c</field>
            <value>
                <stringValue>Versiv</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operational_Impact__c</field>
            <value>
                <elementReference>Operational_Impact.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pressure_of_the_line_to_be_Pumped_into__c</field>
            <value>
                <elementReference>Pressure_of_line_to_be_Pumped_into_numberfield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000Sq3wQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Budgetary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scope__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>The_value_of_CH4_conserved_or_CO2E__c</field>
            <value>
                <elementReference>The_value_of_CH4_conserved_or_CO2Ee.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vice_President__c</field>
            <value>
                <stringValue>Keith Ormsby</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatepipeinfo</name>
        <label>updatepipeinfo</label>
        <locationX>1144</locationX>
        <locationY>1383</locationY>
        <connector>
            <targetReference>GetEquipmentinfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Newpipid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PipespecificationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipe_Diameter_inches__c</field>
            <value>
                <elementReference>Nominal_Pipesize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipe_Length_feet__c</field>
            <value>
                <elementReference>Length_of_the_Line_to_be_Purged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purging_Method_Existing_Pipe__c</field>
            <value>
                <stringValue>Cross Compression</stringValue>
            </value>
        </inputAssignments>
        <object>Pipe_Specification__c</object>
    </recordUpdates>
    <screens>
        <name>Application_Analysis_Results</name>
        <label>Application Analysis Results</label>
        <locationX>552</locationX>
        <locationY>2496</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quickaction</targetReference>
        </connector>
        <fields>
            <name>Project_Analysis</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCFsaving</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SCF Savings:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Getopp_0.Total_Pipeline_Volume_SCF__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tress</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Project Recommendation:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Projectrec}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uptext</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Based on the inputs provided, the analysis concludes cross-compression scored a &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!Projectrecommendationtextvalue} &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;result.&amp;nbsp;Meaning that after factoring project parameters such as community, environmental, cost, and operational the analysis reported a &lt;/span&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;{!Totalweighted}%&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; impact score.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>goodima</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>versivcalFlowimage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Projectrecommendationtextvalue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>BEST</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Betterimage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>versivcalFlowimageBetter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Projectrecommendationtextvalue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>BETTER</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>goodimagess</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>versivcalFlowimageGood</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Projectrecommendationtextvalue</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>GOOD</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>downtext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 9px; color: rgb(62, 62, 60);&quot;&gt;*Recommendations are based on Good, Better, Best scale.&amp;nbsp;Good is defined as 50% or less impact score. Better is defined as 50-70% impact score. Best is defined as 75%-100% impact score.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>na</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Navigate to&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Buttom1</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Task,Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue,blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>homebutton</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Back,Home</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>white,green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ITO_Calculator</name>
        <label>1st screen</label>
        <locationX>527</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stage2</targetReference>
        </connector>
        <fields>
            <name>ITO_Calculator_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ITO_Calculator_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_informationStage</name>
                    <extensionName>dhfpi:lwcProgressIndicator</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>currentStage</name>
                        <value>
                            <elementReference>$Flow.CurrentStage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>stages</name>
                        <value>
                            <elementReference>$Flow.ActiveStages</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cuatomer_information</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Customer Information&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Account.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>First_Name</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Last_Name</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>PhoneNumber.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NewEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>NewEmail.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Address</elementReference>
                    </defaultValue>
                    <fieldText>Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <choiceReferences>Statevalue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>State</elementReference>
                    </defaultValue>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pipeline_Information</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Project Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equipment_Model</name>
            <choiceReferences>Twint</choiceReferences>
            <choiceReferences>TwinM</choiceReferences>
            <choiceReferences>Tw</choiceReferences>
            <choiceReferences>QuadT</choiceReferences>
            <choiceReferences>QuadM</choiceReferences>
            <choiceReferences>QuadD</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment_Model</elementReference>
            </defaultValue>
            <fieldText>Equipment Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ITO_Calculator_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ITO_Calculator_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nominal_Pipesize</name>
                    <choiceReferences>NPS_48_in</choiceReferences>
                    <choiceReferences>NPS_42_in</choiceReferences>
                    <choiceReferences>NPS_36_in</choiceReferences>
                    <choiceReferences>NPS_30_in</choiceReferences>
                    <choiceReferences>NPS_26_in</choiceReferences>
                    <choiceReferences>NPS_24_in</choiceReferences>
                    <choiceReferences>NPS_20_in</choiceReferences>
                    <choiceReferences>NPS_18_in</choiceReferences>
                    <choiceReferences>NPS_16_in</choiceReferences>
                    <choiceReferences>NPS_14_in</choiceReferences>
                    <choiceReferences>NPS_12_in</choiceReferences>
                    <choiceReferences>NPS_10_in</choiceReferences>
                    <choiceReferences>NPS_8_in</choiceReferences>
                    <choiceReferences>NPS_6_in</choiceReferences>
                    <choiceReferences>NPS_4_in</choiceReferences>
                    <choiceReferences>NPS_3_in</choiceReferences>
                    <choiceReferences>NPS_2_in</choiceReferences>
                    <choiceReferences>NPS_1_in</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Nominal_Pipesize</elementReference>
                    </defaultValue>
                    <fieldText>Nominal Pipesize (inches)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pressure_of_line_to_be_Pumped_into_numberfield</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Pressure_of_line_to_be_Pumped_into_numberfield</elementReference>
                    </defaultValue>
                    <fieldText>Discharged Pressure (PSIG)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITO_Calculator_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Length_of_the_Line_to_be_Purged</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Length_of_the_Line_to_be_Purged</elementReference>
                    </defaultValue>
                    <fieldText>Length of the Line to be Purged (feet)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Duration_Available_for_purge_numberfield</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Duration_Available_for_purge_numberfield</elementReference>
                    </defaultValue>
                    <fieldText>Duration available for purge (hours)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ITOcalculator</name>
        <label>2nd screen</label>
        <locationX>527</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>contact_update</targetReference>
        </connector>
        <fields>
            <name>Project_parameterStage</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Project Parameters&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>The_value_of_CH4_conserved_or_CO2Ee</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>The value of CH4 conserved or CO2E</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>The_value_of_CH4_conserved_or_CO2Ee.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cost_0f_Execute</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cost to Execute</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Cost_0f_Execute.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Environmental_Impact</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Environmental Impact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Environmental_Impact.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Operational_Impact</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Operational Impact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Operational_Impact.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Community_Impact</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Community Impact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Community_Impact.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Historical_Impact</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Historical Impact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Historical_Impact.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>tt</name>
        <label>tt</label>
        <locationX>936</locationX>
        <locationY>2842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>oppd</name>
            <extensionName>c:Flowredirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>NewOppId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Analysis_Results</name>
        <isActive>true</isActive>
        <label>Analysis Results</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Project_Information</name>
        <isActive>true</isActive>
        <label>Project Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Project_Parameters</name>
        <isActive>true</isActive>
        <label>Project Parameters</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Stage1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>car</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Car&lt;/b&gt;&lt;img src=&quot;https://powerteamservices239587345--versiv--c.documentforce.com/sfc/servlet.shepherd/version/download/0687j000001Dyzm?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>fire</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://powerteamservices239587345--versiv--c.documentforce.com/sfc/servlet.shepherd/version/download/0687j000001Dz0B?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>goodimage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: DSCDefaultFontRegular; color: rgb(51, 51, 51);&quot;&gt;&amp;lt;img src=&quot;&lt;/span&gt;resource/1632926192000/versivcalFlowimage?&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: DSCDefaultFontRegular; color: rgb(51, 51, 51);&quot;&gt;&quot; width=&quot;100%&quot;&amp;nbsp;height=&quot;auto&quot; /&amp;gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>House</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://powerteamservices239587345--versiv--c.documentforce.com/sfc/servlet.shepherd/version/download/0687j000001Dyzw?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SOQLquery</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;SELECT Draw_Down_Time_for_1_scf_of_pipe__c FROM &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Equipment_Drawdown_Information__c WHERE &lt;/span&gt;Equipment_Model_Name__c=:&apos;{!Equipment_Model}&apos; AND &lt;span style=&quot;background-color: rgb(243, 242, 242);&quot;&gt;Starting_Pressure__c=:&apos;{!Pressure_of_line_to_be_Pumped_into_numberfield}&apos;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Testgridtile</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Red}{!Green}</text>
    </textTemplates>
    <textTemplates>
        <name>tree</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://powerteamservices239587345--versiv--c.documentforce.com/sfc/servlet.shepherd/version/download/0687j000001Dz0G?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CrossCompression</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> CC</stringValue>
        </value>
    </variables>
    <variables>
        <name>CrossResultid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Followup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Follow Up </stringValue>
        </value>
    </variables>
    <variables>
        <name>Green</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewEquipment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Newpipid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pipename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NPS</stringValue>
        </value>
    </variables>
    <variables>
        <name>Pipenamein</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>in</stringValue>
        </value>
    </variables>
    <variables>
        <name>Projectrec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>test</stringValue>
        </value>
    </variables>
    <variables>
        <name>Projectrecommendationtextvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Red</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tilescollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TwinD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> Twin D</stringValue>
        </value>
    </variables>
</Flow>
